* {
    border: none;
    font-family: "JetBrainsMono";
    font-size: 12px;
}

window#waybar {
    border-radius: 0px;
}

#workspaces button {
    padding: 0px;
    margin: 4px 0 6px 0;
    min-width: 24px;
}

#workspaces button.active {
    padding: 0px;
    margin: 4px 0 6px 0;
    min-width: 24px;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio,
#tray, #custom-power, #custom-divider {
    padding: 0px 3px;
    margin: 4px 3px 5px 3px;
}

#workspaces {
    margin: 0 4px 0 20px;
}

#custom-powermenu {
    margin-right: 20px;
}
