wallpapers/*.jpg
wallpapers/*.jpeg
wallpapers/*.png
wallpapers/*.webp
wallpapers/*.avif
wallpapers/*.mp4

!wallpapers/README.md
!wallpapers/example.*
!wallpapers/current-wallpaper.*

!.github/screenshots/*

result
result-*
