* {
    font-family: monospace;
}

window {
    margin: 5px;
    border: 0px solid;
}

#input {
    margin: 5px;
    border-radius: 0px;
    border: none;
    border-bottom: 0px solid;
}

#inner-box {
    margin: 5px;
}

#outer-box {
    margin: 5px;
    padding: 20px;
}

#text {
    margin: 5px;
}
